<h1>Listing bookmarks</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <% @custom.each do |k,v| %>
        <th><%= k%></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>

  </tr>
  </thead>
  <tbody>
  <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <% if bookmark.custom%>
            <%a=0%>
            <% @custom.keys.count.times do %>
            <%if bookmark.custom.fields.has_key?(@custom.keys[a])%>
                <td><%= bookmark.custom.fields[@custom.keys[a]]%></td>
                <%else%>
            <td></td>
            <%end%>
                <%a +=1%>
                <% end %>
        <%end%>
        <td><%= link_to 'Show', bookmark, class: "button blue awesome" %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark), class: " button blue awesome", @fields => bookmark.try(:custom).try(:fields) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button red awesome" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path, class: "button yellow awesome" %>

<%= link_to 'New Custom Field', new_custom_path, class: "button green awesome" %>
