<h1>Listing laboratories</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratories.each do |laboratory| %>
      <tr>
        <td><%= laboratory.code %></td>
        <td><%= laboratory.name %></td>
        <td><%= link_to 'Show', laboratory %></td>
        <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
        <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratory', new_laboratory_path %>
