<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @laboratory.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @laboratory.name %>
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
