<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<h2>Friends </h2>
<table style="width: 100%">
  <thead>
  <tr>
    <th>Friend</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @friends_sent.each do |friend| %>
      <tr>
        <td><%= friend.friend.username.capitalize %></td>
        <td>
          <%= link_to "Send Message", "#", class: "button start-conversation",
                      "data-sid" => current_user.id, "data-rip" => friend.user.id %>
        </td>
        <td><%= link_to 'Remove',update_friend_path(:friend_id=> "#{friend.friend_id}", :for => "Rejected",:id=>friend.id), data: { confirm: "Are you sure?"}, :class => "button secondary" %></td>
      </tr>
  <% end %>
  <% @friends_approved.each do |friend| %>
      <tr>
        <td><%= friend.user.username.capitalize %></td>
        <td>
          <%= link_to "Send Message", "#", class: "button start-conversation",
                      "data-sid" => current_user.id, "data-rip" => friend.user.id %>
        </td>
        <td><%= link_to 'Remove',update_friend_path(:friend_id=> "#{friend.user.id}",:for => "Rejected",:id=>friend.id), data: { confirm: "Are you sure?" }, :class => "button secondary" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

    Search Friend: <%= autocomplete_field :user,:username, autocomplete_user_username_friendships_path%>
    <div id="p" style="text-align: center">
      <%= submit_tag "Search", :name => nil %>
    </div>


<div id="show_friends">
</div>

<script>
    $("#p").click(function()
    {
        var name = $( "#user_username" ).val();
        if (name == ''){
            alert('Please enter a name');
            window.location.reload();
        }
        else {
            $.ajax({
                url: '/friendships/search_friend',
                type: 'get',
                dataType: 'html',
                data: {"name" : name},
                success: function(returnData){
                    $("#show_friends").html(returnData);
                },
                error: function(e){
                    alert(e);
                }
            });
        }

    })


</script>
